name: Despliegue de dev a AWS

on:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_SESSION_TOKEN:
        required: true
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login a AWS
        uses: aws-actions/configure-aws-credentials@v5
        with: 
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Setup de Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: infra
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=180358-stockwiz-backend" \
            -backend-config="key=dev/terraform.tfstate" \
            -backend-config="region=us-east-1"

      - name: Terraform Plan
        working-directory: infra
        run: terraform plan -var-file="envs/dev.tfvars"

      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -var-file="envs/dev.tfvars" -auto-approve
      
      - name: Login a ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin \
              "$(aws sts get-caller-identity --query 'Account' --output text).dkr.ecr.$AWS_REGION.amazonaws.com"

      - name: Push de imágenes y restart del servicio ECS
        run: |
          chmod +x deploy.sh
          ./deploy.sh dev

      - name: Fin
        run: echo "DEV desplegado con éxito!"